<div class="container">
    <mat-card>
        <mat-card-title>{{ acao }} Veículo</mat-card-title>

        <mat-card-content>
            <form [formGroup]="veiculoForm" (submit)="onSubmit()">
                <mat-form-field>
                    <mat-label>Veículo</mat-label>
                    <input type="text" formControlName="veiculo" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Marca</mat-label>
                    <input type="text" formControlName="marca" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Ano</mat-label>
                    <input type="number" formControlName="ano" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Descrição</mat-label>
                    <textarea type="text" formControlName="descricao" matInput></textarea>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Vendido</mat-label>
                    <select matNativeControl formControlName="vendido">
                        <option option="#"></option>
                        <option value="1">Sim</option>
                        <option value="0">Não</option>
                      </select>
                </mat-form-field>

                <mat-card-actions>
                    <button type="submit" mat-flat-button>Salvar</button>
                    <button type="button" mat-stroked-button [routerLink]="['/']">Voltar</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>

